.game-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid black;
  margin: auto;
  position: relative;
  background-color: #f3f3f3;
  z-index: 1;
  overflow: hidden;
}
#dino {
  width: 47px;
  height: 60px;
  background:  url(../../assets/img/dino.png);
  position: absolute;
  bottom: 0;
  z-index: 3;
  animation: run 0.5s steps(4) infinite;

  &.jump {
    animation: dinoJump .9s linear;
  }
}
@keyframes run {
  100% {background-position: -100% 0;}
}
@keyframes dinoJump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 40%;
  }
  100% {
    bottom: 0;
  }
}
#cactus {
  width: 40px;
  height: 50px;
  background-image: url(../../assets/img/cactus.png);
  background-size: 3rem 4rem;
  position: absolute;
  bottom: 0;
  right: -7%;
}
@keyframes cactusMove {
   0% {
     right: -7%;
   }
    100% {
      right: 100%;
    }
}

#cloud {
  width: 4rem;
  height: 4rem;
  background-image: url(../../assets/img/cloud.png);
  background-size: 4rem 4rem;
  position: absolute;
  top: 50px;
  left: 580px;
  z-index: 1;
  animation: cloudMove 5s infinite linear;
}
@keyframes cloudMove {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}
#points {
  position: absolute;
  top: 0;
  font-size: 25px;
  color: gray;
  padding: 5px;
}
.game-start {
  position: absolute;
  display: flex;
  background-image: url(../../assets/img/GameStart.png);
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 300px;
  top: 0;
  background-color: #fff;
  z-index: 10;

  button {
    background: #6ce38b;
    width: 100%;
    border: none;
    padding: 10px;
    color: #000;
    cursor: pointer;
    width: 30%;
  }
}
.game-end {
  position: absolute;
  background-image: url(../../assets/img/GameOver.png);
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  height: 300px;
  top: 0;
  background-color: #fff;
  z-index: 10;

  p {
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
  }

  button {
    background: #6ce38b;
    width: 100%;
    border: none;
    padding: 10px;
    color: #000;
    cursor: pointer;
  }
}
.game-end-left {
  width: 50%;
}
.game-end-right {
  width: 50%;
}
